.cart-info{
    background-color: lightgrey;
    color:dimgray;   
    min-height:10vh; 
    width:170px;
    right:0px;
    position: fixed;
    text-align: left;
    font-size: 17px;
    transition-duration: 200ms;
    border-left: solid 3px ;
    z-index: 3;
}
.cart-info:hover{
    background-color: goldenrod;
    color: black;
    cursor: pointer;
}

.cart-bg{
    padding-top:20px;
    /* background-color: rgb(216, 213, 213); */
    background-color: #cccccc;
    margin:5px;
    padding-bottom: 20px;
    overflow: auto;
    border: solid 1px #cccccc;
}

.cart-container{
    background-color: white; 
    margin: auto;
    width: 600px; 
    padding: 10px;
    border-radius: 10px;
}