.chat-item {
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: lightgreen;
  color: darkblue;
  text-align: left;
  padding: 3px;
}

.admin {
   background-color: lightyellow;
  /*margin-right: 40px;*/
}

.user {
 /* margin-left: 40px; */
}
.chat-container {
  /* width: 50%;  */
  margin: 20px;
  min-height: 100px;
}

#chat-room {
  background-color: lightsteelblue;
  padding: 3px;
  margin: 5px;
}
