.card-content{
    padding: 5px;
}
.card{
    width: 200px;
    background-color: white;
    color:dimgrey;
    border:solid 1px lightgray;
    margin:5px
}

.card-title{
    background-color: antiquewhite;
    color:black;
    font-size: 1.1em;
    height: 150px;
    padding: 5px;
}