.menu-ul {
    text-align: left;
    list-style: none;
    padding: 0;
    width: 150px;
    background-color: darkcyan;
 
} 
 
.menu-ul li {
    padding: 5px;   
}

.fill{
    width: 100%; 
    color:lightblue;  
    transition-duration: 100ms;
}
.fill:hover{ 
    width: 100%; 
}
.menu-ul li:hover {
    cursor: pointer; 
    font-size: 1.2em
}

.menu-active { 
    background-color: lightblue;  
}

.menu-active .fill{
    color:darkcyan
}

.side-menu {
    font-family: 'Segoe UI';
}

/* ============= dashboard menus ================ */

.menu-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.dashboard-menu-item{
    text-align: center;  
    margin:5px;
    vertical-align: middle;
    height:200px;
    width:150px;
    background-color:#fff;
    padding-top:20px;
    padding-bottom: 20px ;
    color:darkcyan;
    border-top:solid 2px #fff;
}


.dashboard-menu-item:hover{ 
     cursor: pointer; 
}

a {
    text-decoration: none; 
}
