.entity-list {
    margin :5px; 
}

.entity-list-container{
      width: 100%;
      overflow: scroll;
      border:solid 1px lightgray;
      margin: 5px
}

.entity-list-table{
    table-layout: fixed; 
    background-color:  white
}

.entity-list-table  tr{
    padding:3px;
    border-bottom: solid 1px darkcyan;
}
.entity-list-table  th {
   min-width: 100px;
   text-align: center
}
.entity-list-table   td{
    min-width: 100px;
    text-align: center
 }

 .filter-wrapper{
     display: grid;
     width: max-content;
     grid-template-columns: 180px auto;
 }
 .filter-wrapper .input-field{
    margin-top:5px;
    padding:0px;

}

.entity-form{
    text-align: left;
    border: solid 1px lightgray;
    background-color: white;
    padding: 5px;
    margin: 5px
}