.card-content{
    padding: 5px;
}
.card{
    width: 200px;
    background-color: khaki;
    padding:3px;
    margin:5px
}

.card-title{
    background-color: darkolivegreen;
    color:lemonchiffon;
    font-size: 1.1em;
    height: 100px;
    padding: 5px;
}