.component-container{
    width: 70%;
    height: auto;
    margin: auto;
    font-family: 'Gill Sans';
    text-align: left
}
.nav-containter{
    text-align: left;
    margin:5px;
}
.filter-box{
    width: 60%;
    background-color: antiquewhite;
    padding: 5px;
    margin:5px
}

