.chat-item{
    margin: 5px;
    background-color: wheat;
    color:darkblue;
    text-align: left;
    padding:3px;
}

.admin{
    background-color: cadetblue;
}
.chat-container{
    background-color: white;
  /*  max-height: 600px;
     overflow: scroll;*/
      width: 50%;
      margin: 5px;
}