.box-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.rounded{
    border-radius: 5px;
}

.rounded-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel-title{
    background-color: darkolivegreen;
    color:lemonchiffon;
    font-size: 1.1em;
    padding: 3px;
}