.menu-ul {
    text-align: left;
    list-style: none;
    padding: 0;
    width: 150px;
    background-color: antiquewhite
}

.td-menu{
    background-color: antiquewhite
}

.menu-ul li {
    padding: 5px;
    border-bottom: solid 1px rgba(165, 42, 42, 0.336)
}

.fill{
    width: 100%; 
}
.fill:hover{
    /* color:khaki */
    width: 100%; 
}
.menu-ul li:hover {
    cursor: pointer;
    background-color: rgba(165, 42, 42, 0.336); 
}

.menu-active { 
    background-color: rgba(165, 42, 42, 0.336); 
    color:khaki;
}

.side-menu {
    font-family: 'Segoe UI';
}

/* ============= dashboard menus ================ */

.menu-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.dashboard-menu-item{
    text-align: center;  
    margin:5px;
    vertical-align: middle;
    height:200px;
    width:150px;
    background-color:#fff;
    padding-top:20px;
    padding-bottom: 20px ;
    color:brown;
    border-top:solid 2px #fff;
    transition-duration: 100ms;
}


.dashboard-menu-item:hover{
    border-top:solid 2px brown;
     cursor: pointer; 
}

a {
    text-decoration: none
}
