.menu-ul {
    text-align: left;
    list-style: none;
    padding: 0;
    width: 150px;
    background-color: antiquewhite
}

.td-menu{
    background-color: antiquewhite
}

.menu-ul li {
    padding: 5px;
    border-bottom: solid 1px darkcyan
}

.fill{
    width: 100%; 
}
.fill:hover{
    color:khaki
}
.menu-ul li:hover {
    cursor: pointer;
    background-color: darkcyan; 
}

.menu-active { 
    background-color: darkcyan; 
    color:khaki;
}

.side-menu {
    font-family: 'Segoe UI';
}

/* ============= dashboard menus ================ */

.menu-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.dashboard-menu-item{
    text-align: center; 
    margin:5px;
    vertical-align: middle;
    height:max-content;
    width:100px;
    color:bisque;
    background-color: darkslateblue;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}

  
.dashboard-menu-item:hover{
    background-color: darkslategray; 
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
}

a {
    text-decoration: none
}
