.detail-supplier-container{
    max-height: 500px;
    overflow: scroll;
    width: 400px;
    background-color: white;
    padding:5px;
    margin:5px;
    border:solid 1px lightgray
}

 
.product-desc{
    background-color: white;
    width: min-content;
    margin:5px
}