.form-panel{
    
    margin: 5px;
    background-color: antiquewhite;
    min-width: 40%;
    padding:5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 1px
		rgba(0, 0, 0, 0.19);
}

.transaction-container{
    width:90%
}

.transaction-receipt{
    text-align: center;
    padding: 5px;
    background-color: antiquewhite;
    text-align: left
}

.totalprice-info{
    background-color: antiquewhite;
    padding:3px;
    width:max-content;
    font-family: monospace
}
